spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/income_manager}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: ${PORT:8080}

security:
  jwt:
    secret: ${JWT_SECRET:Y2hhbmdlLW1lLXN1cGVyLXNlY3JldC1rZXktY2hhbmdlLW1lLWNoYW5nZS1tZQ==}
    expiration-minutes: ${JWT_EXP_MINUTES:120}

logging:
  level:
    org.hibernate.SQL: debug
